[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
isort = "*"
flake8 = "*"
faker = "*"
pytest-django = "*"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
